In [40]:
from scipy.stats import f_oneway

In [42]:
from math import sqrt
from scipy import stats
import pandas as pd

In [44]:
df = pd.read_csv('cust_seg.csv')

In [46]:
df

,custid,sex,AqChannel,region,Marital_status,segment,pre_usage,Post_usage_1month,Latest_mon_usage,post_usage_2ndmonth
0,70,0,4,1,1,1,57,52,49.2,57.2
1,121,1,4,2,1,3,68,59,63.6,64.9
2,86,0,4,3,1,1,44,33,64.8,36.3
3,141,0,4,3,1,3,63,44,56.4,48.4
4,172,0,4,2,1,2,47,52,68.4,57.2
...,...,...,...,...,...,...,...,...,...,...
195,31,1,2,2,2,1,55,59,62.4,64.9
196,145,1,4,2,1,3,42,46,45.6,50.6
197,187,1,4,2,2,1,57,41,68.4,45.1
198,118,1,4,2,1,1,55,62,69.6,68.2
199,137,1,4,3,1,2,63,65,78.0,71.5

In [28]:
# find how many segments and how mANY CUSTOMERS PER SEGMENT WE HAVE
print(df.segment.value_counts())

segment
2    105
3     50
1     45
Name: count, dtype: int64

In [32]:
# Separate segments
s1 =df.Latest_mon_usage[df.segment==1]
s2=df.Latest_mon_usage[df.segment==2]
s3=df.Latest_mon_usage[df.segment==3]
s1

0      49.2
2      64.8
6      50.4
8      64.8
15     51.6
17     72.0
19     68.4
20     42.0
29     58.8
30     68.4
35     69.6
43     51.6
44     57.6
45     75.6
52     73.2
62     46.8
63     49.2
70     55.2
73     69.6
77     67.2
91     58.8
94     55.2
95     73.2
101    67.2
108    55.2
116    66.0
120    60.0
121    55.2
127    64.8
140    51.6
153    58.8
154    67.2
158    50.4
167    46.8
170    54.0
172    50.4
174    52.8
179    72.0
182    68.4
186    66.0
187    50.4
191    50.4
195    62.4
197    68.4
198    69.6
Name: Latest_mon_usage, dtype: float64

In [48]:
#ANOVA 
fsats,pval  =f_oneway(s1,s2,s3)

In [57]:
#Degree of freedom
between_df = len([s1,s2,s3]) -1 # number of groups -1
within_df = len(s1) +len(s2) +len(s3) - len([s1,s2,s3]) #total observations - number of groups

In [61]:
#Critical value (alpha = 0.05)
alpha = 0.05 # because we are only cheking th edifference , not <> etc
critical_value = stats.f.ppf(1-alpha,between_df,within_df) # two tailed critical value

In [71]:
# print results 
print(f"\nF-statistics:{fsats:.2f},p-value:{pval}")
print(f"\ncrtical value (alpha ={alpha}):{critical_value:.2f}")

F-statistics:29.28,p-value:7.36401083352674e-12

crtical value (alpha =0.05):3.04

In [73]:
#Interpretation (add your own logic here)
if pval < alpha:
    print("Reject null hypothesis : there is a significant difference in latest_mon_usage accross customer segment( p < 0.05)")
else:
    print("fail to reject null hypothesis latest_mon_usage is similar accross customer segment( p < 0.05)")

Reject null hypothesis : there is a significant difference in latest_mon_usage accross customer segment( p < 0.05)

In [79]:
#Interpretation (add your own logic here)
if  fsats > critical_value:
    print("F-score is gretaer than critical value suggesting there is a significant difference exists")
else:
    print("F-score is not significant enough to reject null  hypothesis")

F-score is gretaer than critical value suggesting there is a significant difference exists

# Exercise

In [77]:
#for studentsperformance.csv using anova find if there is a significant difference in maths marks 
# depending on the level of parental education

In [138]:
df1 = pd.read_csv('StudentsPerformance.csv')
df1

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [140]:
print(df1['parental level of education'].value_counts())

parental level of education
some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: count, dtype: int64

In [142]:
# Separate segments
e1 =df1['math score'][df1['parental level of education']== 'some college'].sample(n=50,replace=False)
e2 =df1['math score'][df1['parental level of education']== "associate's degree"].sample(n=50,replace=False)
e3 =df1['math score'][df1['parental level of education']== 'high school'].sample(n=50,replace=False)
e4 =df1['math score'][df1['parental level of education']== 'some high school'].sample(n=50,replace=False)
e5 =df1['math score'][df1['parental level of education']== "bachelor's degree"].sample(n=50,replace=False)
e6 =df1['math score'][df1['parental level of education']== "master's degree"].sample(n=50,replace=False)

print(e1.mean())
print(e2.mean())
print(e3.mean())
print(e4.mean())
print(e5.mean())
print(e6.mean())

65.72
65.78
60.84
63.72
68.4
72.08

In [144]:
fstats, pval = f_oneway(e1,e2,e3,e4,e5,e6)
fstats

3.566269276893214

In [146]:
#Degree of freedom
between_df = len([e1,e2,e3,e4,e5,e6]) -1 
within_df = len(e1) +len(e2) +len(e3) + len(e4) +len(e5) +len(e6) - len([e1,e2,e3,e4,e5,e6])

In [148]:
print(between_df)
print(within_df)

5
294

In [150]:
alpha = 0.05 # because we are only cheking th edifference , not <> etc
critical_value = stats.f.ppf(1-alpha,between_df,within_df) # two tailed critical value
critical_value

2.2447033282779048

In [152]:
# print results 
print(f"\nF-statistics:{fsats:.2f},p-value:{pval}")
print(f"\ncrtical value (alpha ={alpha}):{critical_value:.2f}")

F-statistics:29.28,p-value:0.003801688017287748

crtical value (alpha =0.05):2.24

In [154]:
#Interpretation (add your own logic here)
if pval < alpha:
    print("Reject null hypothesis : there is a impact on score")
else:
    print("fail to reject null hypothesis")

Reject null hypothesis : there is a impact on score